.ProfileImg {
    float: left;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Container {
    margin-top: 16px;
    margin-left: 66px;
}

.Text {
    overflow-wrap: break-word !important;
}