.Hello {
    transition: opacity 2.5s;
    opacity: 1;
    width: 100%;
    height: 400px;
    background-color: #1a1818;
}

.HelloContainer {
    padding-top: 128px;
    text-align: center;
    margin: auto;
}

.AboutButton {
    margin-top: 16px !important;
}

.ContentSection {
    background-size: cover;
    transition: opacity 2.5s;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #0e0d0d;
}

.ContentSectionGradientTop {
    background: linear-gradient(#1a1818 50%, rgba(255, 255, 255, 0));
    height: 50px;
    padding-top: 32px;
}

.ContentSectionGradientBottom {
    background: linear-gradient(rgba(255, 255, 255, 0), #1a1818);
    height: 50px;
    margin-top: 64px;
    padding-top: 32px;
}

.ContentSectionAlpha {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.ContentSectionContainer {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
    width: 80%;
    align-content: center;
}

.Footer {
    padding-top: 32px;
    text-align: center;
    background-color: #1a1818;
    height: 48px;
}

.SocialIcon {
    color: #fff;
    padding: 8px;
}

.Socials {
    padding-top: 16px;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 50%;
}